.hero {
  padding: 0px 0 0 0;
  text-align: center;
  position: relative;
  overflow: visible;
}

/* hero headline */
.hero h2 {
  font-weight: 600;
  line-height: 1.02;
  margin-inline: auto;
  font-size: clamp(28px, 6vw, 42px);
  max-width: 1200px;
  color: var(--navy);
  letter-spacing: -0.6px;
}

/* emphasize second line */
.hero h2 span {
  background: linear-gradient(90deg, var(--blue), rgba(242, 138, 34, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
}

/* subtitle */
.hero p {
  margin: 8px auto 26px;
  /* color: var(--muted); */
  max-width: fit-content;
  font-size: 18px;
}

/* video card wrapper */
.video-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

/* rounded deep-blue video card like in screenshot */
.video-wrapper iframe {
  width: 720px;
  max-width: calc(100% - 48px);
  height: 400px;
  border-radius: 18px;
  border: 0;
  box-shadow: 0 18px 50px rgba(3, 44, 71, 0.18),
    inset 0 -30px 80px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(8, 57, 79, 1),
    rgba(0, 120, 140, 0.9)
  );
}
.book-btn {
  /* margin-top: 20px; */
  background: #f28820;
  color: #fff;
  border-radius: 26px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 22px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 20px 0px rgba(244, 137, 31, 0.5);
}
.book-btn:hover {
  background: rgba(2, 160, 188, 0.9);
}
/* smaller on mobile */
@media (max-width: 880px) {
  .video-wrapper iframe {
    height: 230px;
    width: 400px;
  }
  .hero h2 {
    font-size: clamp(22px, 7.6vw, 40px);
  }
}

@media (max-width: 760px) {
  .hero h2 {
    font-size: clamp(22px, 5.6vw, 40px);
  }
  .hero p {
    font-size: 14px;
    color: rgb(57, 57, 57);
  }
  .video-wrapper iframe {
    height: 200px;
    width: 400px;
  }
  .book-btn {
    /* margin-top: 20px; */
    padding: 8px 18px;
    font-weight: 500;
    font-size: 16px;
  }
}
@media (max-width: 480px) {

  .video-wrapper iframe {
    height: 180px;
    width: 400px;
  }

}