.ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ratings-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: transparent;
    gap: 1rem;
}
.ratings-section img{
    width: 160px;
}
.hmratingstrip-line {
    background-color: #42B7E8;
    height: 2px;
    position: relative;
    display: block;
    width: 25.5%;
}
.hmratingstrip-line:before, .hmratingstrip-line:after {
    content: "";
    background-color: #42B7E8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hmratingstrip-line:before {
    left: 0;
}
.hmratingstrip-line:after {
    right: 0;
}
@media (max-width: 780px) {
    .ratings-section img{
    width: 140px;
}
  .hmratingstrip-line {
    background-color: #42B7E8;
    height: 2px;
    position: relative;
    display: block;
    width: 15%;
}
.hmratingstrip-line:before, .hmratingstrip-line:after {
    content: "";
    background-color: #42B7E8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hmratingstrip-line:before {
    left: 0;
}
.hmratingstrip-line:after {
    right: 0;
}
}
@media (max-width:480px){
.ratings{
    gap: 0.2rem;
}
.ratings-section{
    gap: 0.2rem;
}
  .ratings-section img{
    width: 90px;
}
  .hmratingstrip-line {
    background-color: #42B7E8;
    height: 2px;
    position: relative;
    display: block;
    width: 10%;
}
.hmratingstrip-line:before, .hmratingstrip-line:after {
    content: "";
    background-color: #42B7E8;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hmratingstrip-line:before {
    left: 0;
}
.hmratingstrip-line:after {
    right: 0;
}
}